<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <i class="icon icon-github"></i>
            <a href="{{ repo.owner.html_url }}">{{ repo.owner.login }}</a>/<a href="{{ repo.html_url }}"><strong>{{ repo.name }}</strong></a>
        </div>
        
        <div class="pull-right">
            <span style="display: inline-block;" class="d-inline-block label label-default" title="{{ 'Stars'|_ }}">
                <i class="icon icon-star-empty"></i> {{ repo.stargazers_count }}
            </span> 
            
            <span style="display: inline-block;" class="d-inline-block label label-default" title="{{ 'Watchers'|_ }}">
                <i class="icon icon-eye-open"></i> {{ repo.watchers_count }}
            </span> 

            <span style="display: inline-block;" class="d-inline-block label label-default" title="{{ 'Forks'|_ }}">
                <i class="icon icon-code-fork"></i> {{ repo.forks }}
            </span> 

            {% if repo.language %}<span style="display: inline-block;" class="d-inline-block label label-primary">{{ repo.language }}</span>{% endif %}
        </div>
    </div>
    <div class="panel-body">
        <p>{{ repo.description }}</p>
        
        <footer>
            <a href="{{ repo.homepage }}">{{ repo.homepage }}</a>
            
            <small class="pull-right">
                {{ 'Updated:'|_ }} 
                <time datetime="{{ repo.pushed_at }}">{{ repo.pushed_at|date("M Y") }}</time>    
            </small>
        </footer>
    </div>
</div>